
.full-content{
    margin-top: -20px;
    margin-left: 315px;
    height: 550px;
    width: 900px;
    /* background-color: #393434c7; */
    display:flex;
    flex-direction: row;
    border-radius: 20px;
    opacity: 1;
    backdrop-filter: blur(30px);
    box-shadow: -1px 5px 15px black;
}

.outer-box{
    background-color: #6642bc;
    width: 300px;
    height: 400px;
    margin-top: 75px;
    margin-left: 70px;
    border-radius: 25px;
    box-shadow: -1px 5px 15px black;
}

.btn1{
    background-color: #b1bcc6;
    color: black;
    margin-top: 80px;
    margin-left: 75px;
    width: 50%;
    height: 45px;
    border-radius: 15px;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
}



.btn2{
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-left: 75px;
    width: 50%;
    height: 45px;
    border-radius: 15px;
    font-size: small;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.btn3{
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-left: 75px;
    width: 50%;
    height: 45px;
    border-radius: 15px;
    font-size: small;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.btn4{
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-left: 75px;
    width: 50%;
    height: 45px;
    border-radius: 15px;
    font-size: small;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.btn1:hover , .btn2:hover , .btn3:hover , .btn4:hover{
   
    transform: scale(1.1);
}



.poster{

    width: 470px;
    height:490px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 20px;
    box-shadow: -1px 5px 15px black;
}


.back-btn{
    width: 100px;
    padding: 10px;
    margin-top: 90px;
    margin-left: 100px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
}

.back-btn:hover{

    cursor: pointer;
    scale: 1.1;
}

