body{
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    /* background-color: black; */
    display:flex;
    flex-direction: column;
    background-image: url('home\ background.jpg');
    background-position: center;
    background-size: cover;
}

/* start of the header css */

.header {
    display:flex;
    background-color: #1a1614; 
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    padding: 10px 20px;
    width: 100%;
    position : fixed;
    z-index: 999;
}

.logo img{
    height: 40px;
    width:auto;
    border-radius: 10px;
    border: 2px solid white;
}

.app-name h1{
    font-size: 24px;
    color: #ffffff;
    margin: 0 20px;
    padding-right: 160px;
}

.search-box input{
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width : 700px;
    background-color: #403d3b;
    color: white;
}

.auth-buttons{
    display:flex;
    align-items: center;
    margin-left: 200px;
}

.auth-buttons button{
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;

}

.developer-view{
    background-color: #007bff;
    color: white;
    width: 200px;
}

.developer-view:hover{
    background-color:white;
    color: black;
    transform: scale(1.1);
}
/* end of the header css */

/* start of the page content css */

.full-form{
    width: 700px;
    height: 560px;
    color: black;
    align-items: center;
    padding-top:10px;
    margin-top: 85px;
    align-self: center;
    border-radius: 5%;
    /* background-color: #403d3b;  */
    backdrop-filter: blur(30px);
    box-shadow: -1px 5px 15px black;
    font-weight: bolder;

}

.main-title{
    background-color: black;
    color:white;
    width:320px;
    height: 40px;
    margin-left: 180px;
    border-radius: 10px;
    text-align: center;
    
}

.title-text , .category-text , .link-text {
    margin-left: 30px;
}

.description-text{
    margin-left: 30px;
}

.title-box , .category-box , .link-box {
    background-color: white;
    height:45px;
    width:88%;
    margin-left: 25px;
    border-radius: 20px;
    padding-left: 10px;
}

.description-box{
    background-color: white;
    height:135px;
    width:88%;
    margin-left: 25px;
    border-radius: 20px;
    padding-left: 10px; 
    padding-top: 2px;
    
    
}

.publish{
    margin-left: 550px;
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: medium;
    border-radius: 10px;
}

/* start of the footer css */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1a1614;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.footer .left .footer .right{
    display: flex;
}

.footer button{
    margin: 0 5px;
    padding: 10px;
    border: none;
    background-color: #403d3b;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    padding-inline: 30px;
}

.footer button:hover {
    background-color: #ffffff;
    transform: scale(1.1);
    color: black;
  }
  
/* end of footer css */
