/* General Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  /* background-color: #403d3b; */
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url('./images/home\ background.jpg');
  background-position: center;
  background-size: cover;
}

/* STARTING HEADER CSS................................................................. */

.header {
  display: flex;
  align-items: center;
  background-color: #1a1614;
  padding: 10px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 999;
}

.logo img {
  height: 40px;
  width: auto;
  border-radius: 10px;
  border: 2px solid white;
}

.app-name h1 {
  font-size: 24px;
  color: #ffffff;
  margin: 0 20px;
  padding-right: 160px;
}

.search-box input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 700px;
  background-color: #403d3b;
  color: white;
}

.auth-button{
  display: flex;
  align-items: center;
  
}

.auth-buttons button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.dashboard {
  background-color: #403d3b;
  color: grey;
  border: none;
  padding: 10px 20px;
  margin-left: 100px;
  border-radius: 5px;
  cursor: pointer;  
}



.dashboard:hover{
  background-color: #403d3b;
  color:white;
  transform: scale(1.1);
}

.sign-out{
  margin-left: 50px;
  padding: 10px;
  border-radius: 5px;
  background-color: red;
  color: white;
  border: none;
}

.sign-out:hover{
  scale: 1.1;
  cursor: pointer;
}
/* CLOSING HEADER CSS................................................................. */


/* Menu (Left Side) */
.menu {
  /* background-color: #6cd51b; */
  width: 30%;
  height: 330px;
  padding: 20px;
  margin-top:180px;
  border-radius: 10px;
  margin-left: 33%;
  opacity: 1;
  backdrop-filter: blur(30px);
  box-shadow: -1px 5px 15px black;
}

.menu button {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #1c1d1c;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 10px;
}

.menu button:hover {
  scale: 1.03;
}

/* Admin Summary (Right Side) */

/*STARTING FOOTER CSS.................................................................*/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1a1614;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
.footer .left, .footer .right {
  display: flex;
}
.footer button {
  margin: 0 5px;
  padding: 10px;
  border: none;
  background-color: #403d3b;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  padding-inline: 30px;
}
.footer button:hover {
  background-color: #ffffff;
  transform: scale(1.1);
  color: black;
}

/*CLOSING FOOTER CSS.................................................................*/


