  
  body {
    font-family: Arial, sans-serif;
    /* background-color: #403d3b; */
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url('./images/home\ background.jpg');
    background-position: center;
    background-size: cover;
  }

    /* STARTING HEADER CSS................................................................. */

  .header {
    display: flex;
    align-items: center;
    background-color: #1a1614;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  
  .logo img {
    height: 40px;
    width: auto;
    border-radius: 10px;
    border: 2px solid white;
  }
  
  .app-name h1 {
    font-size: 24px;
    color: #ffffff;
    margin: 0 20px;
    padding-right: 160px;
  }
  
  .search-box input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 700px;
    background-color: #403d3b;
    color: white;
  }
  
  .auth-buttons {
    display: flex;
    align-items: center;
    margin-left: 200px;
  }
  
  .auth-buttons button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .sign-in {
    background-color: #007bff;
    color: white;
  }
  
  .sign-in:hover{
    background-color: #007bff;
    color: white;
    transform: scale(1.1);
  }
  
  .sign-up {
    background-color: #28a745;
    color: white;
  }
  
  .sign-up:hover {
    background-color: #28a745;
    color: white;
    transform: scale(1.1);
    
  }
  /*STARTING FOOTER CSS.................................................................*/
  
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1a1614;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
  }
  .footer .left, .footer .right {
    display: flex;
  }
  .footer button {
    margin: 0 5px;
    padding: 10px;
    border: none;
    background-color: #403d3b;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    padding-inline: 30px;
  }
  .footer button:hover {
    background-color: #ffffff;
    transform: scale(1.1);
    color: black;
  }
  
  /*CLOSING FOOTER CSS.................................................................*/