body {
  font-family: Arial, sans-serif;
  /* background-color: #403d3b; */
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url('./images/home\ background.jpg');
  background-position: center;
  background-size: cover;
}

/* STARTING HEADER CSS................................................................. */

.header {
  display: flex;
  align-items: center;
  background-color: #1a1614;
  padding: 10px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 999;
}

.logo img {
  height: 40px;
  width: auto;
  border-radius: 10px;
  border: 2px solid white;
}

.app-name h1 {
  font-size: 24px;
  color: #ffffff;
  margin: 0 20px;
  padding-right: 160px;
}

.search-box input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 700px;
  background-color: #403d3b;
  color: white;
}

.auth-buttons {
  display: flex;
  align-items: center;
  margin-left: 200px;
}

.auth-buttons button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.sign-in {
  background-color: #007bff;
  color: white;
}

.sign-in:hover{
  background-color: #007bff;
  color: white;
  transform: scale(1.1);
}

.sign-up {
  background-color: #28a745;
  color: white;
}

.sign-up:hover {
  background-color: #28a745;
  color: white;
  transform: scale(1.1);
}

/* CLOSING HEADER CSS................................................................. */


/* SLIDESHOW CSS...................................................................... */

.slider{
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
  
}
.container{
  position: relative;
  width: 93%;
  height: 400px;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: -1px 5px 15px black;
  margin-right: 10px;
  margin-top: 300px;
}
.slider img{
  width: 50%;
  height: 400px;
}
@keyframes slide{
  0%{
      transform: translateX(0);
  }
  25%{
      transform: translateX(0);
  }
  30%{
      transform: translateX(-100%);
  }
  50%{
      transform: translateX(-100%);
  }
  55%{
      transform: translateX(-200%);
  }
  75%{
      transform: translateX(-200%);
  }
  80%{
      transform: translateX(-300%);
  }
  100%{
      transform: translateX(-300%);
  }
}

/* CLOSING SLIDESHOW................................................................ */

/* SLIDSHOW DESCRIPTION................................................................ */


.sliderdesc h3{
  margin-top: -190px;
  background-color: rgb(105, 104, 104);
  padding: 20px;
  box-shadow: -1px 5px 15px black;
  word-spacing: 10px;
  color: white;
  font-weight: bolder;
  margin-left: 50px;
  margin-right: 50px;
  font-size: larger;
}

/*STARTING CSS FOR APPS..............................................................*/

.app-store {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 50px;
  margin-top: -100px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 85px;
}

.app-card {
  /* background-color: rgb(105, 104, 104); */
  border-radius: 8px;
  /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  text-align: center;
  transition: box-shadow 0.3s ease;
  text-decoration: none;
  color: inherit;
  opacity: 1;
  backdrop-filter: blur(200px);
}

.app-card:hover {
  /* box-shadow: 0 4px 16px rgba(255, 255, 255, 0.2); */
  box-shadow: 1px 1px 5px 5px black;
}

.app-icon {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 16px;
}

.app-details {
  padding: 10px 0 20px;
}

.app-title {
  font-size: 1.2rem;
  margin: 10px 0;
  color: white;
}

.app-rating {
  font-size: 0.9rem;
  color: #ffea00;
}

.install-button {
  padding: 10px 20px;
  background-color: #1e88e5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 0.9rem;
}

.install-button:hover {
  background-color: #1565c0;
}

.browsemore button{
  margin-bottom: 100px;
  margin-left: 46%;
  background-color: #1565c0;
  border-radius: 10px;
  color: white;
}

.browsemore button:hover{
  background-color: white;
  color: black;
  cursor: pointer;
  transform: scale(1.1);
}
/* CLOSING CSS FOR APPS...............................................................*/


/*STARTING FOOTER CSS.................................................................*/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1a1614;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
.footer .left, .footer .right {
  display: flex;
}
.footer button {
  margin: 0 5px;
  padding: 10px;
  border: none;
  background-color: #403d3b;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  padding-inline: 30px;
}
.footer button:hover {
  background-color: #ffffff;
  transform: scale(1.1);
  color: black;
}

/*CLOSING FOOTER CSS.................................................................*/

