.manage-profile {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    /* background-color: rgb(174, 226, 236); */
    margin: 120px 440px;
    border-radius: 8px;
    border-color: #1a1614;
    opacity: 1;
    box-shadow:-1px 5px 15px black;
    backdrop-filter: blur(30px);
    
}
.manage-profile h3{
    text-align: center;
    margin-top: -20px;
    padding: 10px;
    font-family: cursive;
    font-weight: bolder;
    font-size: x-large;
}
.manage-profile span{
    min-width: 500px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.manage-profile input{
    border-radius: 5px;
    border: 0.5px solid rgb(59, 58, 58);
    background-color: rgba(255, 255, 255, 0.609);
    height: 20px;
    
}
.cEmail{
    margin-left: 82px;
}
.cName{
    margin-left: 43px; 
}
.cFName{
    margin-left: 43px; 
}
.cLName{
    margin-left: 45px; 
}
.cPassword{
    margin-left: 50px;
}

#change{
    background-color: rgb(3, 88, 23);;
    margin-left: -455px;
    border: none;
    color: white;
}
#change:hover{
    cursor: pointer;
    scale: 1.1;
}
#delete{
    background-color: red;
    margin-left: 400px;
    color: white;
}
#delete:hover{
    cursor: pointer;
    scale: 1.1;
}