body {
    font-family: Arial, sans-serif;
    /* background-color: #403d3b; */
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url('./images/home\ background.jpg');
    background-position: center;
    background-size: cover;
  }

  /* STARTING HEADER CSS................................................................. */

  .header {
    display: flex;
    align-items: center;
    background-color: #1a1614;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 999;
  }

  .logo img {
    height: 40px;
    width: auto;
    border-radius: 10px;
    border: 2px solid white;
  }

  .app-name h1 {
    font-size: 24px;
    color: #ffffff;
    margin: 0 20px;
    padding-right: 160px;
  }

  .search-box input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 700px;
    background-color: #403d3b;
    color: white;
  }

  .auth-buttons {
    display: flex;
    align-items: center;
    margin-left: 200px;
  }

  .auth-buttons button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }

  .sign-in {
    background-color: #007bff;
    color: white;
  }

  .sign-in:hover{
    background-color: #007bff;
    color: white;
    transform: scale(1.1);
  }

  .sign-up {
    background-color: #28a745;
    color: white;
  }

  .sign-up:hover {
    background-color: #28a745;
    color: white;
    transform: scale(1.1);
  }

  /* CLOSING HEADER CSS................................................................. */

   /* APP CATEGORY CSS................................................................... */

  .back-button{
    position: absolute;
    margin-top: 85px;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #ffffff;
  }
  .back-button:hover{
    color: #1e88e5;
    cursor: pointer;
  }

  .app_category{
    margin-top: 70px;
    color: white;
    font-family: cursive;
    display: flex;
    justify-content: space-between;
    margin-left: 170px;
    margin-right: 170px;
    backdrop-filter: blur(8px);
  }

  .app-store {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 50px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 85px;
  }

  .app-card {
    /* background-color: rgb(105, 105, 104); */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: box-shadow 0.3s ease;
    text-decoration: none;
    color: inherit;
    opacity: 1;
    backdrop-filter: blur(200px);
  }

  .app-card:hover {
    /* box-shadow: 0 4px 16px rgba(255, 255, 255, 0.2); */
    box-shadow: 1px 1px 5px 5px black;
  }

  .vl {
    border-left: 5px solid yellow;
    height: 1300px;
    position: absolute;
    left: 33.7%;
    margin-left: -3px;
    top: 100px;
  }

  .vl2 {
    border-left: 5px solid yellow;
    height: 1300px;
    position: absolute;
    left: 66.8%;
    margin-left: -3px;
    top: 100px;
  }

  .app-icon {
    width: 130px;
    height: 160px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 16px;
  }

  .app-details {
    padding: 10px 0 20px;
  }

  .app-title {
    font-size: 1.2rem;
    margin: 10px 0;
    color: white;
  }

  .app-rating {
    font-size: 0.9rem;
    color: #ffea00;
  }

  .install-button {
    padding: 10px 20px;
    background-color: #1e88e5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 0.9rem;
  }

  .install-button:hover {
    background-color: #1565c0;
  }

  .browsemore button{
    margin-bottom: 100px;
    margin-left: 46%;
    background-color: #1565c0;
    border-radius: 10px;
    color: white;
  }

  .browsemore button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transform: scale(1.1);
  }


 /*STARTING FOOTER CSS.................................................................*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1a1614;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
  }
  .footer .left, .footer .right {
    display: flex;
  }
  .footer button {
    margin: 0 5px;
    padding: 10px;
    border: none;
    background-color: #403d3b;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    padding-inline: 30px;
  }
  .footer button a{
    text-decoration: none;
    color: white;
  }
  .footer button:hover {
    background-color: #ffffff;
    transform: scale(1.1);
    color: black;
  }

  /*CLOSING FOOTER CSS.................................................................*/
