body {
    font-family: Arial, sans-serif;
    /* background-color: #403d3b; */
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url('./images/home\ background.jpg');
    background-position: center;
    background-size: cover;
  }
  
  /* STARTING HEADER CSS................................................................. */
  
  .header {
    display: flex;
    align-items: center;
    background-color: #1a1614;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  
  .logo img {
    height: 40px;
    width: auto;
    border-radius: 10px;
    border: 2px solid white;
  }
  
  .app-name h1 {
    font-size: 24px;
    color: #ffffff;
    margin: 0 20px;
    padding-right: 160px;
  }
  
  .search-box input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 700px;
    background-color: #403d3b;
    color: white;
  }
  
  .auth-buttons {
    display: flex;
    align-items: center;
    margin-left: 200px;
  }
  
  .auth-buttons button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .sign-in {
    background-color: #007bff;
    color: white;
  }
  
  .sign-in:hover{
    background-color: #007bff;
    color: white;
    transform: scale(1.1);
  }
  
  .sign-up {
    background-color: #28a745;
    color: white;
  }
  
  .sign-up:hover {
    background-color: #28a745;
    color: white;
    transform: scale(1.1);
    
  }
  
  /* CLOSING HEADER CSS................................................................. */
  
  .back-button{
    position: absolute;
    margin-top: 85px;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #ffffff;
  }
  .back-button:hover{
    color: #1e88e5;
    cursor: pointer;
  }


  .content {
    max-width: 100px;
    max-height:200px;
    margin:65px auto;
    padding: 150px;
    /* background: rgb(87, 81, 81); */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    text-align: center;
    box-shadow: -1px 5px 15px black;
    opacity: 1;
    backdrop-filter: blur(8px);
  }

  .pic img{
    width: 70px; /* Adjust the size of the profile picture */
    height: 70px; /* Make it a perfect square */
    border-radius: 50%; /* Circular profile picture */
    display: block; /* Ensure the image is treated as a block element */
    margin: 0 auto 10px;
    margin-top: -140px;
  }
  
  .user-info{
    margin-top: -30px;
  }
  
  .manage-profile {
    width: 250%;
    padding: 5px;
    margin: 1px -65px;
    border: none;
    border-radius: 20px;
    background-color: rgb(101, 194, 227);
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    font-weight: bolder;
  }

  .manage-profile:hover {
    transform: scale(1.1); 
  }
  .add-another {
    width: 250%;
    padding: 5px;
    margin: 1px -65px;
    border: none;
    border-radius: 20px;
    background-color: rgb(101, 194, 227);
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    font-weight: bolder;
  }

  .add-another:hover {
    transform: scale(1.1); 
  }
  .Sign-out {
    width: 75%;
    padding: 5px;
    margin: 1px -65px;
    border: none;
    border-radius: 20px;
    background-color: rgb(239, 61, 120);
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    font-weight: bolder;
  }

  .Sign-out:hover {
    transform: scale(1.1); 
  }
  .downloaded-apps {
    width: 250%;
    padding: 5px;
    margin: 1px -65px;
    border: none;
    border-radius: 20px;
    background-color: rgb(101, 194, 227);
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    font-weight: bolder;
  }

  .downloaded-apps:hover {
    transform: scale(1.1); 
  }
  .notifications {
    width: 250%;
    padding: 5px;
    margin: 1px -65px;
    border: none;
    border-radius: 20px;
    background-color: rgb(101, 194, 227);
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    font-weight: bolder;
  }

  .notifications:hover {
    transform: scale(1.1); 
  }
  .feedback {
    width: 250%;
    padding: 5px;
    margin: 1px -65px;
    border: none;
    border-radius: 20px;
    background-color: rgb(101, 194, 227);
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    font-weight: bolder;
  }

  .feedback:hover {
    transform: scale(1.1); 
  }
  .content p{
    color: rgb(26, 3, 79);
    margin-top: 50px;
    font-weight:bold;
    font-size:large;
  }

  .content a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
  }

  .content hr{
    border: none;
    height: 1px;
    background-color: #000000;
    width: 280%;
    margin: 1px -80px;
  }
 


  
  /*STARTING FOOTER CSS.................................................................*/
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1a1614;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
  }
  .footer .left, .footer .right {
    display: flex;
  }
  .footer button {
    margin: 0 5px;
    padding: 10px;
    border: none;
    background-color: #403d3b;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    padding-inline: 30px;
  }
  .footer button:hover {
    background-color: #ffffff;
    transform: scale(1.1);
    color: black;
  }
  
  /*CLOSING FOOTER CSS.................................................................*/
  
  