body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f7f9; */
    padding: 20px;
    background-image: url('home\ background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    max-width: 600px;
    margin: 35px auto;
    /* background-color: white; */
    padding: 30px;
    border-radius: 10px;
    box-shadow: -1px 5px 15px rgb(0, 0, 0);
    opacity: 1;
    backdrop-filter: blur(30px);
  }

  form {
    margin-top: 20px;
  }

  label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
  }

  input[type="text"],
  input[type="date"],
  select {
    width: 100%;
    padding: 12px;
    margin: 8px 0 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
  }

  input[type="text"]:focus,
  input[type="date"]:focus,
  select:focus {
    border-color: #007bff;
    outline: none;
  }

  button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #0056b3;
  }

  .mt-3 {
    margin-top: 20px;
  }

.updatemsg{
    padding: 5px;
    background-color: yellow;
    width: fit-content;
    border-radius: 10px;
    position: absolute;
}

.back-btn{
    padding: 15px;
    margin-top: 80px;
    margin-left: 100px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    position: absolute;
}

.back-btn:hover{

    cursor: pointer;
    scale: 1.1;
}